<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Onely Server</title>

</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



</style>


<body>


<h2>Live requests from users</h2>
<table>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Country</th>
        <th>Action</th>
    </tr>
    <!-- For loop logic of jinja template -->
    <tbody>
    <tbody>
    {% for request in all_requests %}
    <tr>
        <td><img src="http://3.137.168.15/api/cdn/{{request.photo}}" width="70" height="70"></td>
        <td>{{request.name}}</td>
        <td>{{request.username}}</td>
        <td>{{request.email}}</td>
        <td>{{request.gender}}</td>
        <td>{{request.country}}</td>
        <td>{% if request.live_request==0 %}
            <a href="approveRequest/{{request.id}}">
                <button class="btn btn-primary" name="Approve">Approve</button>
            </a>
            {% else %}
            <a href="unapproveRequest/{{request.id}}">
                <button class="btn btn-danger" name="Approve">Un Approve</button>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>


</table>

</body>
</html>